version: 2

updates:
- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
    # See doc/requirements.txt for why
    - dependency-name: "jupyter-book"
      update-types: ["version-update:semver-major"]

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
