# Because of https://github.com/elcorto/psweep/issues/12 we can't have this in
# pyproject.toml.

jupyter-book < 2
sphinx-autodoc-typehints

# For doc/generate-doc.sh
sphinx-autodoc @ git+https://github.com/elcorto/sphinx-autodoc

# vim:syn=conf
